.cursor-pointer {
    cursor: pointer;
}

.container-md {
    width: 50%;
}

.navigation_links {
    color: #FFF;
    text-decoration: none;
}


.airport-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    transition: transform 0.2s;
}

.airport-card:hover {
    transform: translateY(-5px);
}

.airport-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.airport-info {
    font-size: 1.1rem;
}

.info-row {
    margin-bottom: 10px;
}

strong {
    color: #007bff;
}

.search-input {
    width: 100%;
    margin: 20px auto;
}

.search-icon {
    background-color: #f8f9fa;
    border: none;
    cursor: pointer;
}

.search-icon:hover {
    background-color: #e9ecef;
}

.search-icon i {
    font-size: 1.5rem;
    color: #6c757d;
}

.reset-button {
    background-color: #FF5733;
    border-color: #FF5733;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.reset-button:hover {
    background-color: #FF814A;
    color: #FFFFFF;
}

.info-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f8f9fa;
    transition: transform 0.2s;
}

.info-card:hover {
    transform: translateY(-5px);
}

.airport-name {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 15px;
}

.airport-details {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.left-column {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.right-column {
    padding-left: 20px;
}



.auth-form-container {
    margin-top: 100px;
}

.auth-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.auth-form-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.auth-form-button {
    width: 100%;
    margin-top: 15px;
}

.auth-form-text {
    text-align: center;
    margin-top: 10px;
    color: #888;
    font-style: italic;
    font-size: 14px;
    cursor: pointer;
}